body{
    margin-top: 40px;
}

.clickable{
    cursor: pointer;
}

.site-header{
    text-align: center;
    margin-bottom: 80px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
